body {
    background-color: #F5F5F5;
    font-family: Arial;
}

div.grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content max-content max-content max-content max-content;
    background-color: #F5F5F5;
    padding: 0px;
    text-align: center;
    width: 50%;
    margin: auto;
    border: 0px solid black;
    valign: middle;
}

img.wide {
    width: 112px;
    height: 80px;
    border: 0px solid black;
    padding: 5px;
}

img.tall {
    width: 56px;
    height: 96px;
    border: 0px solid black;
    padding: 5px;
}

img.square {
    width: 70px;
    height: 70px;
    border: 0px solid black;
    padding: 5px;
}

a:link {
    color: black;
    text-decoration: underline;
    valign: middle;
}

a:visited {
    color: grey;
    valign: middle;
}

div.header {
    font-size: 28px;
    font-weight: bold;
    width: 50%;
    margin: auto;
    text-decoration: underline;
    padding: 10px;
}
